.text {
  font-size: 2px;
}

.heading{
  font-size: 30px;
  font-family: Times New Romanan;
}

.background {
  background-image: url('robux.jpg');
  width: 1280px;
  height: 720px;
  background-size: 27%;
  margin: 2px;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  
}

button {
  background-color: #FF007F;
  color: #FFFFFF;
  font-weight: bold;
  padding: 7px;
  margin-bottom: 20px;
  border-left-color: #A020F0;
  border-right-color: #00FFFF;
  border-top-color: #FFFFF;
  border-bottom-color: #FFFFF;
}
body{
  margin: 5px;
}

.button {
  
}